.service {
	padding: 40px 0;

	.service-wrap {
		max-width: 684px;
		margin: 0 auto;
		padding: 0 15px;
		font-size: 0;
		line-height: 0;
		text-align: center;
	}

	.service-nav {
		margin: 0 auto;

		li {
			width: 282px;
			background: #fff;
			display: inline-block;
			margin: 0 20px 40px 20px;
			cursor: pointer;


			.service-item {
				margin: 0 auto;
				color: #8c8c8c;
				font-size: 16px;
				height: 321px;
				line-height: normal;
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
			}

			.service-text {
				height: 282px;
				border: 1px solid #dedddb;
				padding: 150px 20px 0 20px;
			}

			.service-price {
				color: #fff;
				height: 39px;
				padding: 5px;
				font-size: 20px;
				line-height: 29px;
				background: #ffd98d;
				text-align: center;
				text-transform: uppercase;
				text-shadow: 1px -1px 1px rgba(155, 155, 155, 0.75);
			}

			&.item0 {

				background: #fff url("../img/service01.png") 50% 40px no-repeat;
				.service-item {

				}
			}

			&.item1 {

				background: #fff url("../img/service02.png") 50% 40px no-repeat;
				.service-item {

				}
			}

			&.item2 {

				background: #fff url("../img/service03.png") 50% 40px no-repeat;
				.service-item {

				}
			}

			&.item3 {

				background: #fff url("../img/service04.png") 50% 40px no-repeat;
				.service-item {

				}
			}

			&.active {

				.service-price {
					background: #f79447;
				}

				&.item0 {
					background-position: 50% -310px;
					.service-item {

					}
				}

				&.item1 {
					background-position: 50% -310px;
					.service-item {

					}
				}

				&.item2 {
					background-position: 50% -310px;
					.service-item {

					}
				}

				&.item3 {
					background-position: 50% -310px;
					.service-item {

					}
				}
			}

		}
	}

	.service-description-line {
		@include clearfix();
		margin-bottom: 35px;
		background: #ffd98d;

		li {
			width: 25%;
			float: left;
			height: 5px;

			&.service-line-active {
				background: #f79447;
			}
		}
	}

	.service-description {
		overflow: hidden;
		position: relative;

		.slick-dots {
			top:0;
			left: 0;
			right: 0;
			font-size: 0;
			line-height: 0;
			position: absolute;
			background: #ffd98d;

			li {
				width: 25%;
				float: left;
				height: 5px;

				button {
					margin: 0;
					padding: 0;
					border: none;
					outline: none;
				}

				&.slick-active {
					background: #f79447;
				}
			}
		}

		.service-tab {
			font-size: 16px;
			height: 100%;
			line-height: 20px;
			position: relative;
			border-bottom: 2px solid #dedddb;

			.service-tab-title {
				font-size: 18px;
				line-height: 23px;
				margin-bottom: 8px;
				text-transform: uppercase;
			}

			p {
				margin: 0;
				padding-bottom: 55px;
			}
		}

		.service-tab-inner {
			position: relative;
			padding: 35px 15px 0 15px;
		}
	}

	.service-btn-group {
		right: 15px;
		bottom: 0;
		position: absolute;
	}


	@media (min-width: $screen-xs-min) {

		.service-wrap {
			padding: 0 20px;
		}


		.service-description {

			.service-tab {

				.service-tab-inner {
					margin: 0 auto;
					max-width: 644px;
					padding: 35px 15px 0 15px;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {

		.service-wrap {
			margin: 0 auto;
			width: 1318px;
			padding: 0 15px;
			max-width: inherit;
		}


		.service-description {
			margin: 0 auto;
			width: 1248px;

			.service-tab {

				margin: 0 auto;
				text-align: justify;
				border-left: 1px solid #dedddb;
				border-right: 1px solid #dedddb;

				.service-tab-inner {
					margin: 0 auto;
					max-width: inherit;
					padding: 35px 40px 0 40px;
					position: relative;
				}
			}

			.service-description-line {
				margin: 0 -21px 35px -21px;

				li {
					width: 282px;
					margin: 0 20px;
				}
			}
		}

		.service-btn-group {
			right: 40px;
			bottom: 0;
			position: absolute;
		}
	}

}