.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #8c8c8c;
	font-size: 14px;
	background: #fff;
	line-height: 17px;
	padding: 10px 12px;
	display: inline-block;
	border: 2px solid #ffd788;
	@include placeholder(#8c8c8c);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}

	&.error {
		border-color: #de8446;
	}

	&.form-complete {
		background: #fff url("../img/icon-select.png") right 0 top 18px no-repeat;
	}
}

textarea.form-control {
	height: 94px;
}


.ui-autocomplete {

	margin: -2px 0 0 0;
	padding: 0;
	list-style: none;
	border: 2px solid #ffd47d;

	.ui-menu-item {
		color: #8c8c8c;
		cursor: pointer;
		margin: 0 !important;
		display: block !important;
		font-size: 14px !important;
		background: #fff;
		line-height: 17px !important;
		padding: 10px 12px !important;

		&:hover {
			background: #ffdd97;
		}

		&:first-child {

		}

	}
}

.ik_select_dropdown {
	margin: -2px 0 0 0;


	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		border: 2px solid #ffd47d;

		li {
			color: #8c8c8c;
			cursor: pointer;
			margin: 0 !important;
			display: block !important;
			font-size: 14px !important;
			background: #fff;
			line-height: 17px !important;
			padding: 10px 12px !important;

			&:hover {
				background: #ffdd97;
			}
		}
	}
}

.select-control {
	margin: 0;
	width: 100%;
	position: relative;

	.select-control-link {
		margin: 0;
		width: 100%;
		outline: none;
		color: #8c8c8c;
		font-size: 14px;
		line-height: 17px;
		display: inline-block;
		border: 2px solid #ffd788;
		padding: 10px 30px 10px 12px;
		@include placeholder(#8c8c8c);
		background: #fff url("../img/icon-select.png") 100% 50% no-repeat;
	}

	.ik_select_link_text {
		overflow: hidden;
	}
}


label {
	font-weight: 400;
	display: block;
}

.form-group {
	position: relative;
	margin-bottom: 20px;

	&.icon-eye {

		&:before {
			top: 50%;
			right: 15px;
			width: 23px;
			height: 14px;
			z-index: 100;
			content: ' ';
			margin-top: -7px;
			position: absolute;
			background: url("../img/icon-eye.png") 0 0 no-repeat;
		}
	}
}